src/flows/changeLoanOwnership-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>changeLoanOwner</name>
        <label>changeLoanOwner</label>
        <locationX>249</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>loanToChange.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookupStudent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setChange</targetReference>
        </connector>
    </assignments>
    <interviewLabel>{!lookupLoan}</interviewLabel>
    <label>changeLoanOwnership</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookupLoan</name>
        <label>lookupLoan</label>
        <locationX>251</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>changeLoanOwner</targetReference>
        </connector>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lookupOwner</elementReference>
            </value>
        </filters>
        <filters>
            <field>Student__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lookupStudent</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputReference>loanToChange</outputReference>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>setChange</name>
        <label>setChange</label>
        <locationX>248</locationX>
        <locationY>295</locationY>
        <inputReference>loanToChange</inputReference>
    </recordUpdates>
    <startElementReference>lookupLoan</startElementReference>
    <variables>
        <name>loanToChange</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>lookupOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lookupStudent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
